<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BankingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>bankingApp.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signIn</servlet-name>
    <servlet-class>bankingApp.signIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoTransaction</servlet-name>
    <servlet-class>bankingApp.DoTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoTransaction</servlet-name>
    <url-pattern>/DoTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listTransaction</servlet-name>
    <servlet-class>bankingApp.listTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listTransaction</servlet-name>
    <url-pattern>/listTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>bankingApp.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateMultipleAccount</servlet-name>
    <servlet-class>bankingApp.CreateMultipleAccount</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CreateMultipleAccount</servlet-name>
    <url-pattern>/CreateMultipleAccount</url-pattern>
  </servlet-mapping>
</web-app>